
<div *ngIf="coin">
    <h2><span>Coin</span> {{coin.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Coin Code</span></dt>
        <dd>
            <span>{{coin.coinCode}}</span>
        </dd>
        <dt><span>Coin Info Url</span></dt>
        <dd>
            <span>{{coin.coinInfoUrl}}</span>
        </dd>
        <dt><span>Coin Image Url</span></dt>
        <dd>
            <span>{{coin.coinImageUrl}}</span>
        </dd>
        <dt><span>Coin Name</span></dt>
        <dd>
            <span>{{coin.coinName}}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
            <span>{{coin.isActive}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'coin-my-suffix/'+ coin.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
