<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMarketPriceLabel">Create or edit a Market Price</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!marketPrice.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="marketPrice.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_currentPrice">Current Price</label>
            <input type="number" class="form-control" name="currentPrice" id="field_currentPrice"
                [(ngModel)]="marketPrice.currentPrice" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_timeStamp">Time Stamp</label>
            <div class="d-flex">
                <input id="field_timeStamp" type="datetime-local" class="form-control" name="timeStamp" [(ngModel)]="marketPrice.timeStamp"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_exchange">Exchange</label>
            <select class="form-control" id="field_exchange" name="exchange" [(ngModel)]="marketPrice.exchangeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="exchangeOption.id" *ngFor="let exchangeOption of exchanges; trackBy: trackExchangeById">{{exchangeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_market">Market</label>
            <select class="form-control" id="field_market" name="market" [(ngModel)]="marketPrice.marketId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketOption.id" *ngFor="let marketOption of markets; trackBy: trackMarketById">{{marketOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
